{{ define "app" }}
{
  "config": {
    "wide_screen_mode": true
  },
  "header": {
    "title": {
      "tag": "plain_text",
      "content": "{{.Title}}"
    }
  },
  "elements": [
    {
      "tag": "div",
      "fields": [
        {{- range $index, $field := .Fields}}
        {
          "is_short": {{.IsShort}},
          "text": {
            "tag": "{{.Tag}}",
            "content": "{{.Content}}"
          }
        }{{if not (last $index $.Fields)}},{{end}}
        {{- end}}
      ]
    },
    {
      "tag": "hr"
    },
    {
      "tag": "action",
      "layout": "bisected",
      "actions": [
        {
          "tag": "button",
          "text": {
            "tag": "plain_text",
            "content": "批准"
          },
          "type": "primary",
          "value": {
            "chosen": "approve"
          }
        },
        {
          "tag": "button",
          "text": {
            "tag": "plain_text",
            "content": "拒绝"
          },
          "type": "primary",
          "value": {
            "chosen": "decline"
          }
        }
      ]
    }
  ]
}
{{ end }}